#section-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 1em;
}

.cards {
    border: 1px solid rgb(85, 154, 219);
    width: 500px;
    height: 200px;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    background-color: aquamarine;
    box-shadow: 0px 10px 10px 0pc rgb(85, 154, 219);
}

.cards img {
    width: 40%;
    height: 100%;
}

.body-card {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

body {
    margin: 0px;
}